{% extends 'base.html' %}
{% block content %}

<h1>Report Details</h1>

<div>
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;">
    <div class="card-body">
        <h2>{{ report.name }}</h2>
        <h5>Description: {{ report.description }}</h5>
        <h5>Report Frequency: {{ report.cadence }}</h5>
        <h5>Date Created: {{ report.date }}</h5>
        <h5>Notes: {{ report.notes }}</h5>
        <h5>Reviewed? {{ report.reviewed }}</h5>
        {% for report in report.location_set.all %}
            <p>{{location.name}}</p>
        {% empty %}
            <p>No Report Found</p>
        {% endfor %}
    <div>
        <a href="{% url 'reports_update' report.pk %}">Edit</a>
        <a href="{% url 'reports_delete' report.pk %}">Delete</a>
     </div>
    </div>
</div>
</div>
{% endblock %}