<!-- main_app/templates/cattoy_confirm_delete.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Delete Report</h1>

<div class="deleteReport">
    <h4>Are you sure you want to delete <strong>{{ report }}</strong>?</h4>
    <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Yes - Delete!">
        <a href="{% url 'reports_show' report.id %}">Cancel</a>
    </form>
</div>
{% endblock %}